@{
    Layout = "~/Views/Shared/Basic.cshtml";
    ViewBag.Title = "Members";
}
@model IList<DemoApplication.Core.Model.User>

@section AltNav
{
    @Html.MvcSiteMap().Pills(SiteMap.Provider.FindSiteMapNodeFromKey("ManageUsers"), true, false)
}


<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Last Login</th>
            <th>Approved</th>
            <th>Is Locked Out</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", "Users", new { id = user.Id })">@user.FullName</a>
                </td>
                <td>
                    @user.Username
                </td>
                <td>
                    
                    @if (!user.LastLogin.HasValue)
                    {
<text>
    
                    <a href="#">Never, send login invite</a>
</text>
                    }
                    else
                    {
                        @user.LastLogin.GetValueOrDefault(DateTime.MinValue).ToLocalTime()
                    }
                    
                </td>
                <td>
                    @user.IsAccountVerified
                </td>

                <td>
                    @user.IsLoginAllowed
                </td>
            </tr>
        }

    </tbody>
</table>
